<main>
    <h1>{{title}}</h1>
    <button id='add-restriction-btn'>Add New Restriction</button>
    <table>
        <thead>
            <tr>
                <th>Restriction ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {{#each restrictions}}
                <tr>
                    <td>{{this.restr_id}}</td>
                    <td>{{this.name}}</td>
                    <td><button class='edit-btn'>Edit</button></td>
                    <td><button class='del-btn'>Delete</button></td>
                </tr>
            {{/each}}
        </tbody>
    </table>

    <dialog id='add-restriction-modal' class='modal'>
        <div class='modal-content'>
            <div class='modal-header'>
                <span>Add Restriction</span>
                <span class='close'>&times;</span>
            </div>
            <form id='add-restriction-form'>
                <label for='name'>Name:</label>
                <input type='text' id='name' name='name' /><br />

                <input type='submit' value='Add' />
            </form>
        </div>
    </dialog>

    <dialog id='edit-restriction-modal' class='modal'>
        <div class='modal-content'>
            <div class='modal-header'>
                <span>Edit Restriction</span>
                <span class='close'>&times;</span>
            </div>
            <form id='edit-restriction-form'>
                <input type='hidden' id='edit-restriction-id' name='restriction-id' />
                <label for='name'>Name:</label>
                <input type='text' id='edit-name' name='name' /><br />

                <input type='submit' value='Update' />
            </form>
        </div>
    </dialog>

    <dialog id='delete-restriction-modal' class='modal'>
        <div class='modal-content'>
            <div class='modal-header'>
                <span id='close' class='close'>&times;</span>
            </div>
            <div class='flex justify-center'>
                <span>Are you sure you want to delete this restriction?</span>
            </div>
            <div class='flex gap justify-center'>
                <button>Cancel</button>
                <button>Confirm</button>
            </div>
        </div>
    </dialog>
</main>
<script>
// Elements
const addRestrModal = document.getElementById('add-restriction-modal');
const addRestrForm = document.getElementById('add-restriction-form');
const deleteRestrModal = document.getElementById('delete-restriction-modal');
const editRestrModal = document.getElementById('edit-restriction-modal');
const editRestrForm = document.getElementById('edit-restriction-form');

let restrId;  // Variable to hold the current Restriction ID.

// Event handlers
document.querySelector('#add-restriction-btn').addEventListener('click', () => addRestrModal.showModal());

// Close modals when clicking 'x' or 'Cancel'
for(let modal of [addRestrModal, deleteRestrModal, editRestrModal]) {
    modal.querySelector('.close').addEventListener('click', () => modal.close());
}

// Handle all restriction actions
document.addEventListener('click', event => {
    const row = event.target.closest('tr');
    if (!row) return;

    restrId = row.children[0].textContent;
    if (event.target.classList.contains('edit-btn')) {
        document.getElementById('edit-name').value = row.children[1].textContent;
        editRestrModal.showModal();
    } else if (event.target.classList.contains('del-btn')) {
        deleteRestrModal.showModal();
    }
});

// Form submissions
addRestrForm.addEventListener('submit', handleCreateRestriction);
editRestrForm.addEventListener('submit', handleUpdateRestriction);

deleteRestrModal.querySelector('button:nth-child(1)').addEventListener('click', () => deleteRestrModal.close());
deleteRestrModal.querySelector('button:nth-child(2)').addEventListener('click', handleDeleteRestriction);

// Fetch requests
async function handleCreateRestriction(event) {
    event.preventDefault();

    const formData = new FormData(event.target);
    const restrData = Object.fromEntries(formData);

    await fetch('/restrictions', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify(restrData),
    });

    addRestrModal.close();
    location.reload();
}

async function handleUpdateRestriction(event) {
    event.preventDefault();

    const response = await fetch(`/restrictions/${restrId}`, {
        method: 'PUT',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({
            name: document.getElementById('edit-name').value
        }),
    });

    if (response.ok) {
        editRestrModal.close();
        location.reload();
    }
}

async function handleDeleteRestriction() {
    await fetch(`/restrictions/${restrId}`, { method: 'DELETE' });

    deleteRestrModal.close();
    location.reload();
}
</script>