<!DOCTYPE html>
<html>

<head>
    <title>No More Ramen</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <nav>
            <div class="center">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="ingredients.html">Ingredients</a></li>
                    <li><a href="recipes.html">Recipes</a></li>
                    <li><a href="units.html">Units</a></li>
                    <li><a href="users.html">Users</a></li>
                    <li><a href="recipe-ingredients.html">Recipe Ingredients</a></li>
                    <li><a href="ingredient-restrictions.html">Ingredient Restrictions</a></li>
                    <li><a href="restrictions.html">Restrictions</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <h1>Welcome to No More Ramen</h1>
        <button id="add-unit-btn">Add New Unit</button>
        <table>
            <thead>
                <tr>
                    <th>Unit ID</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>oz</td>
                    <td><button class='edit-btn'>Edit</button></td>
                    <td><button class='del-btn'>Delete</button></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>lb</td>
                    <td><button class='edit-btn'>Edit</button></td>
                    <td><button class='del-btn'>Delete</button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>tsp</td>
                    <td><button class='edit-btn'>Edit</button></td>
                    <td><button class='del-btn'>Delete</button></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>tbsp</td>
                    <td><button class='edit-btn'>Edit</button></td>
                    <td><button class='del-btn'>Delete</button></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>cup</td>
                    <td><button class='edit-btn'>Edit</button></td>
                    <td><button class='del-btn'>Delete</button></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>fluid ounce</td>
                    <td><button class='edit-btn'>Edit</button></td>
                    <td><button class='del-btn'>Delete</button></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>quart</td>
                    <td><button class='edit-btn'>Edit</button></td>
                    <td><button class='del-btn'>Delete</button></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>gallon</td>
                    <td><button class='edit-btn'>Edit</button></td>
                    <td><button class='del-btn'>Delete</button></td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>inch</td>
                    <td><button class='edit-btn'>Edit</button></td>
                    <td><button class='del-btn'>Delete</button></td>
                </tr>
            </tbody>
        </table>
        <dialog id="add-unit-modal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span>Add Unit</span>
                    <span class="close">&times;</span>
                </div>
                <form id="add-unit-form">
                    <label for="name">Unit Name:</label>
                    <input type="text" id="name" name="name"><br>

                    <input type="submit" value="Add">
                </form>
            </div>
        </dialog>
        <dialog id="delete-unit-modal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span id="close-add-unit-modal" class="close">&times;</span>
                </div>
                <div class="flex justify-center">
                    <span>Are you sure you want to delete this unit?</span>
                </div>
                <div class="flex gap justify-center">
                    <button>Cancel</button>
                    <button>Confirm</button>
                </div>
            </div>
        </dialog>
    </main>
    <script>
        const addUnitBtn = document.getElementById('add-unit-btn');
        const addUnitModal = document.getElementById('add-unit-modal');
        const deleteUnitModal = document.getElementById('delete-unit-modal');
        const closeBtns = document.querySelectorAll('.close');
        const addUnitForm = document.getElementById('add-unit-form');
        const editBtns = document.querySelectorAll('.edit-btn');
        const deleteBtns = document.querySelectorAll('.del-btn');

        // Open modal when Add New Unit button is clicked
        addUnitBtn.addEventListener('click', function () {
            addUnitModal.style.display = 'block';
        });

        // Close modal when close button is clicked
        closeBtns.forEach(function (closeBtn) {
            closeBtn.addEventListener('click', function () {
                // They're for different modals but it doesn't matter
                // since they're never supposed to stack on top of one another
                addUnitModal.style.display = 'none';
                deleteUnitModal.style.display = 'none';
            });
        });

        // Close modal when outside modal content is clicked
        window.addEventListener('click', function (event) {
            if (event.target == addUnitModal) {
                addUnitModal.style.display = 'none';
            }
            if (event.target == deleteUnitModal) {
                deleteUnitModal.style.display = 'none';
            }
        });

        // Open modal when Edit button is clicked
        editBtns.forEach(function (editBtn) {
            editBtn.addEventListener('click', function () {
                addUnitModal.style.display = 'block';
            });
        });

        deleteBtns.forEach(function (deleteBtn) {
            deleteBtn.addEventListener('click', function () {
                deleteUnitModal.style.display = 'block';
            });
        });
    </script>
</body>

</html>