<html lang='en'>
    <head>
        <title>No More Ramen</title>
        <link rel="stylesheet" href="../../styles/styles.css">
    </head>
    <body>
        <header>
            <nav>
                <div class='center'>
                    <ul>
                        <li><a href='index'>Home</a></li>
                        <li><a href='ingredients'>Ingredients</a></li>
                        <li><a href='recipes'>Recipes</a></li>
                        <li><a href='units'>Units</a></li>
                        <li><a href='users'>Users</a></li>
                        <li><a href='recipe-ingredients'>Recipe Ingredients</a></li>
                        <li><a href='ingredient-restrictions'>Ingredient
                                Restrictions</a></li>
                        <li><a href='restrictions'>Restrictions</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        {{{body}}}
    </body>
</html>